# Allow unfree packages in nix
export NIXPKGS_ALLOW_UNFREE=1

# Read shell.nix and setup the Nix shell environment.
use nix shell.nix

# Read the .env file and load the environment variables within.
dotenv
